pkgbase = ethminer-oddred
	pkgdesc = Ethereum miner with OpenCL, CUDA and stratum support.
	pkgver = 0.16.1
	pkgrel = 1
	url = https://github.com/ethereum-mining/ethminer
	arch = x86_64
	license = MIT
	depends = boost
	depends = boost-libs
	depends = jsoncpp
	depends = libjson-rpc-cpp-git
	depends = opencl-headers
	depends = python2
	provides = ethminer
	conflicts = ethereum
	conflicts = ethminer-git
	conflicts = ethereum-git
	source = https://github.com/ethereum-mining/ethminer/releases/download/v0.16.1/ethminer-0.16.1-linux-x86_64.tar.gz
	sha256sums = 690b5c0d5f8b9aab3aaf28717cf6218fcfff6a95b20c0d02f00c69ce2d74584d

pkgname = ethminer-oddred

